.ad-title {
    -fx-width: 100%;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-font-style: italic;
}

.ad-content {
    -fx-width: 100%;
    -fx-padding: 20px 0 0 20px;
    -fx-wrap-text: true;
}

.ad-button {
    -fx-border-radius: 0;
    -fx-background-color: #FF5733;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.comment {
    -fx-font-size: 16px;
    -fx-padding: 10 0;
    -fx-wrap-text: true;
}

.text-field {
    -fx-background-radius: 0;
}

.notification {
   -fx-background-color: orangered;

}
